<!DOCTYPE html>
<html lang="en">
<head>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <header class="jumbotron text-center bg-light p-5 rounded-lg">
        <h1 class="display-4">Welcome to WilShane's Collection!</h1>
        <p class="lead">Discover unique and interesting designs across a variety of accessories, greeting cards, socks, and household goods.</p>
        <div class="mt-4">
          <%= image_tag('wilson_and_shane.jpeg', alt: 'Wilson and Shane', class: 'img-fluid rounded-circle', style: 'max-width: 300px; height: auto;') %>
        </div>
    </header>

    <section class="mt-4">
        <h2 class="text-center mb-4">Featured Products</h2>
        <div class="row">
            <% @featured_products.each do |product| %>
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <%= link_to product_path(product), class: 'text-decoration-none text-dark' do %>
                        <% if product.product_picture.attached? %>
                        <%= image_tag(url_for(product.product_picture), class: 'card-img-top') %>
                        <% else %>
                        <div class="card-img-top bg-light d-flex align-items-center justify-content-center" style="height: 200px;">
                            <span>No image to display</span>
                        </div>
                        <% end %>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                        </div>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </section>
</div>
</body>
</html>
