<div class="container mt-5">
  <h2 class="mb-4">Shopping Cart</h2>
  <% if @cart_items.any? %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
            <th scope="col" style="width: 150px;"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= number_to_currency(item.product.price) %></td>
              <td>
                <%= form_with(model: [item], local: true, class: 'd-flex') do |f| %>
                  <%= f.number_field :quantity, value: item.quantity, min: 1, class: 'form-control', style: 'width: 70px; margin-right: 10px;' %>
                  <%= f.submit 'Update', class: 'btn btn-info btn-sm' %>
                <% end %>
              </td>
              <td><%= number_to_currency(item.quantity * item.product.price) %></td>
              <td>
                <%= button_to 'Remove', cart_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <h4>Total: <%= number_to_currency(@cart_items.sum { |item| item.quantity * item.product.price }) %></h4>
      <%= link_to 'Proceed to Payment', new_payment_path, class: 'btn btn-secondary text-white ms-3' %>
    </div>
  <% else %>
    <div class="alert alert-info" role="alert">
      Your cart is empty.
    </div>
  <% end %>
</div>
