<%= form_for([@user, address]) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :province %>
    <%= f.text_field :province, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
